// fonts
@font-face {
  font-family: 'poppins';
  src: url('../font/poppins/Poppins-Black.ttf');
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'poppins';
  src: url('../font/poppins/Poppins-BlackItalic.ttf');
  font-style: italic;
  font-weight: 900;
}

@font-face {
  font-family: 'poppins';
  src: url('../font/poppins/Poppins-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'poppins';
  src: url('../font/poppins/Poppins-BoldItalic.ttf');
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'poppins';
  src: url('../font/poppins/Poppins-ExtraBold.ttf');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'poppins';
  src: url('../font/poppins/Poppins-ExtraBoldItalic.ttf');
  font-style: italic;
  font-weight: 800;
}

@font-face {
  font-family: 'poppins';
  src: url('../font/poppins/Poppins-ExtraLight.ttf');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'poppins';
  src: url('../font/poppins/Poppins-ExtraLightItalic.ttf');
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: 'poppins';
  src: url('../font/poppins/Poppins-Light.ttf');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'poppins';
  src: url('../font/poppins/Poppins-LightItalic.ttf');
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'poppins';
  src: url('../font/poppins/Poppins-Medium.ttf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'poppins';
  src: url('../font/poppins/Poppins-MediumItalic.ttf');
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: 'poppins';
  src: url('../font/poppins/Poppins-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'poppins';
  src: url('../font/poppins/Poppins-RegularItalic.ttf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'poppins';
  src: url('../font/poppins/Poppins-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'poppins';
  src: url('../font/poppins/Poppins-SemiBoldItalic.ttf');
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: 'poppins';
  src: url('../font/poppins/Poppins-Thin.ttf');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'poppins';
  src: url('../font/poppins/Poppins-ThinItalic.ttf');
  font-style: italic;
  font-weight: 100;
}

// Typography

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
  font-family: $headings-font-family;
  font-weight: bold;
  margin: 0 0 0.5em;
  color: $headings-color;
}

h1, .h1 {
  font-size: $h1-font-size;
}

h2, .h2 {
  font-size: $h2-font-size;
}

h3, .h3 {
  font-size: $h3-font-size;
}

h4, .h4 {
  font-size: $h4-font-size;
}

h5, .h5 {
  font-size: $h5-font-size;
}

h6, .h6 {
  font-size: $h6-font-size;
}

p {
  margin: 0 0 1em;
}

a {
  color: $base-link-color;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?ymvx3e');
  src:  url('icomoon.eot?ymvx3e#iefix') format('embedded-opentype'),
    url('icomoon.ttf?ymvx3e') format('truetype'),
    url('icomoon.woff?ymvx3e') format('woff'),
    url('icomoon.svg?ymvx3e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-balloon:before {
  content: "\e044";
}
.icon-menu:before {
  content: "\e900";
}
.icon-smiley:before {
  content: "\e901";
}
.icon-chevron-down:before {
  content: "\e902";
}
.icon-heart:before {
  content: "\e903";
}
.icon-restro:before {
  content: "\e905";
}
.icon-health:before {
  content: "\e906";
}
.icon-star:before {
  content: "\e907";
}
.icon-barbell:before {
  content: "\e908";
}
.icon-dots-three-vertical:before {
  content: "\e909";
}
.icon-plus:before {
  content: "\e90a";
}
.icon-chevron-left:before {
  content: "\e90b";
}
.icon-chevron-right:before {
  content: "\e90c";
}
.icon-chevron-up:before {
  content: "\e90d";
}
.icon-minus:before {
  content: "\e90e";
}
.icon-time:before {
  content: "\e90f";
}
.icon-arrow-back:before {
  content: "\e910";
}
.icon-arrow-forward:before {
  content: "\e911";
}
.icon-copy:before {
  content: "\e912";
}
.icon-star-bold:before {
  content: "\e913";
}
.icon-telephone:before {
  content: "\e914";
}
.icon-tag:before {
  content: "\e915";
}
.icon-checkmark:before {
  content: "\e916";
}
.icon-photos:before {
  content: "\e917";
}
.icon-location:before {
  content: "\e918";
}
.icon-offer:before {
  content: "\e919";
}
.icon-alarm:before {
  content: "\e91a";
}
.icon-sort:before {
  content: "\e91b";
}
.icon-history:before {
  content: "\e91c";
}
.icon-check_circle_outline:before {
  content: "\e91d";
}
.icon-notice:before {
  content: "\e91e";
}
.icon-email:before {
  content: "\e91f";
}
.icon-phone:before {
  content: "\e920";
}
.icon-lock:before {
  content: "\e921";
}
.icon-eye:before {
  content: "\e922";
}
.icon-eye-slash:before {
  content: "\e923";
}
.icon-bar_chart:before {
  content: "\e924";
}
.icon-calendar:before {
  content: "\e925";
}
.icon-chart:before {
  content: "\e927";
}
.icon-cog:before {
  content: "\e928";
}
.icon-plus-alt:before {
  content: "\e929";
}
.icon-help:before {
  content: "\e92a";
}
.icon-minus-alt:before {
  content: "\e92b";
}
.icon-cross-circle:before {
  content: "\e92c";
}
.icon-cross:before {
  content: "\e92d";
}
.icon-upload:before {
  content: "\e92e";
}
.icon-git:before {
  content: "\e92f";
}
.icon-signout:before {
  content: "\e930";
}
.icon-faq:before {
  content: "\e931";
}
.icon-delete:before {
  content: "\e932";
}
.icon-pen:before {
  content: "\e933";
}
.icon-checkmark-alt:before {
  content: "\e934";
}
.icon-search:before {
  content: "\e986";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-menu-dotted:before {
  content: "\e9bb";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-info-circle:before {
  content: "\ea0c";
}
.icon-share:before {
  content: "\f045";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-money:before {
  content: "\f0d6";
}
.icon-circle:before {
  content: "\f111";
}
.icon-google:before {
  content: "\f1a0";
}
.icon-share-alt:before {
  content: "\f1e0";
}
.icon-gender:before {
  content: "\f225";
}
.icon-quantity:before {
  content: "\e936";
}
.icon-flip_camera:before {
  content: "\e926";
}
.icon-arrow-down-alt1:before {
  content: "\e904";
}
.icon-global:before {
  content: "\e052";
}
.icon-download:before {
  content: "\e935";
}
.icon-refresh:before {
  content: "\f021";
}
.icon-camera:before {
  content: "\f030";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-user:before {
  content: "\f2c0";
}
.icon-outlet:before {
  content: "\e937";
}
