// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/
$gray: #999;
$black: #333;
$white: #fff;
$light-blue: #39f;
$dark-blue: #222838;
$brand-color: #f06256;
$base-font-sans-serif:  'poppins','arial',
sans-serif;
$base-font-serif: 'Times New Roman',
'Times',
'Baskerville',
'Georgia',
serif;
// Body
$base-text-color: $black !default;
$base-background-color:#fff;
$font-size-base: 16px !default;
$line-height-base: 1.2 !default;
$base-font-family: $base-font-sans-serif !default;
$vertical-rhythm: ($line-height-base * 1em);
$base-min-width: 1024px;
// Liks
$base-link-color: $light-blue;
// Buttons 
$btn-color: $white !default;
$btn-background: $black !default;
$btn-padding: 0.4em 0.7em !default;
$btn-font-size: inherit !default;
// Forms
$form-element-padding: $btn-padding !default;
$form-element-border-color: $gray !default;
$form-element-focus-border-color: $black !default;
$placeholder-color: $gray !default;
// Headers
$h1-font-size: 30px !default;
$h2-font-size: 27px !default;
$h3-font-size: 24px !default;
$h4-font-size: 21px !default;
$h5-font-size: 17px !default;
$h6-font-size: 15px !default;
$headings-font-family: inherit !default;
$headings-color: inherit !default;
$animation-speed: 0.3s;