// global use css 
.pt30 {
    padding-top: 30px;
}

.pb30 {
    padding-bottom: 30px;
}

.pt60 {
    padding-top: 60px;
}

.pb60 {
    padding-bottom: 60px;
}

.pt0 {
    padding-top: 0;
}

.pb0 {
    padding-bottom: 0;
}


// navigation part
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 30px;

    .logo {
        max-width: 190px;

        .img {
            max-width: 100%;
            height: 48px;
            width: 100px;
        }
    }

    .nav-list {
        list-style: none;

        li {
            display: inline-block;
            margin: 0 15px;
            font-size: 13px;
            text-transform: uppercase;
            font-weight: 500;
            
            a {
                text-decoration: none;
                color: #fff;
            }
        }
    }
}

header {
    background: url('../img/hero-img.jpg');
    position: relative;
    overflow: hidden;
    height: 1060px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #222838;
    height: 627px;
}

.banner-content {
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        font-size: 48px;
        color: #fff;
        font-weight: 300;
        margin-bottom: 60px;

        span {
            color: $brand-color;
        }
    }

    .banner-text,
    .banner-image
     {
        min-width: 50%;
    }
}
.download-store-btn {
    a {
        display: inline-block;
        width: 150px;
        height: 59px;
        border-radius: 3px;
        background-color: #fff;
        text-align: center;
        line-height: 70px;

        &.app-store-btn {
            // background-color: #f2504d;
            // background-image: -webkit-linear-gradient( 63deg, rgb(250,50,111) 0%, rgb(246,66,94) 53%, rgb(242,81,76) 100%, rgb(242,80,77) 100%);
            margin-left: 40px;
        }

        img {
            width: 100%;
        }
    }
}

.banner-image {
    .img-holder {
        text-align: right;

        img {
            height: auto;
            width: auto;
        }
    }
}

.features {
    background: #f4f4f4;

    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.features-content {
    // height: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .feature-list,
    .feature-content {
        width: 50%;
        min-width: 50%; 
    }

    .feature-list {
        padding: 0 15px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: -15px;
    }

    .feature {
        background-color: #FFFFFF;
        box-shadow: 0 0 35px rgba(0,0,0,.08);
        padding: 20px 20px;
        position: relative;
        z-index: 2;
        color: #666666;
        font-size: 12px;
        width: calc(50% - 10px);
        margin-bottom: 20px;
        text-align: center;
        line-height: 1.6;

        span {
            color: #FFFFFF;
            font-size: 3.000em;
            width: 76px;
            height: 76px;
            border-radius: 100%;
            background-color: #f2504d;
            line-height: 76px;
            margin: 0 auto 20px;
            font-weight: 300;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        strong {
            margin: 0;
            color: #12304a;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 15px;
            display: block;
        }
    }
}

.heading-category {
    h2 {
        margin: 0 0 30px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        color: $brand-color;
        font-size: 58px;
        text-align: center;
    }
}

.explainer {
    background: #f4f4f4;
}

.explainer-img-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;

    &:nth-child(2) {
        margin-bottom: 0;
        flex-direction: row-reverse;
    }

    .explainer-image {
        min-width: 45%;
        width: 45%;
    }
}

.explainer-content {
    color: #666666;
    font-size: 14px;
    line-height: 24px;
    padding: 0 20px;
    min-width: 55%;
    width: 55%;

    .h3 {
        line-height: 45px;
        font-size: 30px;
        font-weight: 500;
        color: rgb(18, 48, 74);
        font-weight:500;
    }
}
.app-screen {
    background: #f4f4f4;
    height: 866px;

    .container {
        position: relative;
        height: 750px;
    }
}

.app-screen-carousel {
    .img-bg {
        width: 447px;
        position: absolute;
        left: calc(50% - -5px);
        transform: translateX(-50%);
    }

}

#footer {
    background: #222838;
    padding: 60px 0;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    color: #f3f6f8;
    margin-bottom: 40px;

    .logo-slogan {
        width: 220px;
    }

    .download {
        strong {
            font-weight: 500;
            display: block;
            margin-bottom: 15px;
        }

        .app-store-btn {
            margin-left: 15px;
        }
    }
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    color: #f3f6f8;
    font-size: 12px;

    a {
        color: #f3f6f8;
        text-decoration: none;
        margin-left: 15px;
        display: inline-block;
    }
}


.scene {
//   border: 1px solid #CCC;
  margin: 40px 0;
  position: relative;
  width: 284px;
  height: 540px;
  margin: 0 auto;
  perspective: 3150px;
  padding-top: 84px;
  position: relative;
}

.carousel {
  width: 100%;
//   height: 100%;
  position: absolute;
  transform: translateZ(-470px);
  transform-style: preserve-3d;
  transition: transform 1s;
}

.carousel__cell {
  position: absolute;
  width: 267px;
//   height: 120px;
  left: 9px;
  top: 9px;
  line-height: 116px;
  font-size: 80px;
  font-weight: bold;
  color: white;
  text-align: center;
  backface-visibility: hidden;

  &:nth-child(1) {
    transform: rotateY(0deg) translateZ(470px);
  }

  &:nth-child(2) {
    transform: rotateY(36deg) translateZ(470px);
  }

  &:nth-child(3) {
    transform: rotateY(72deg) translateZ(470px);
  }

  &:nth-child(4) {
    transform: rotateY(108deg) translateZ(470px);
  }

  &:nth-child(5) {
    transform: rotateY(144deg) translateZ(470px);
  }

  &:nth-child(6) {
    transform: rotateY(180deg) translateZ(470px);
  }

  &:nth-child(7) {
    transform: rotateY(216deg) translateZ(470px);
  }

  &:nth-child(8) {
    transform: rotateY(252deg) translateZ(470px);
  }

  &:nth-child(9) {
    transform: rotateY(288deg) translateZ(470px);
  }

  &:nth-child(10) {
    transform: rotateY(324deg) translateZ(470px);
  }

  &:nth-child(11) {
    transform: rotateY(300deg) translateZ(470px);
  }

  &:nth-child(12) {
    transform: rotateY(330deg) translateZ(470px);
  }
}

.carousel-btns {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 30px);
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);

    button {
        background: transparent;
        font-size: 55px;
        font-weight: 300;
        border-width: 0;
        outline: none;
        color: #333;
        transition: all 0.3s ease;;

        &:hover {
            color: $brand-color;
        }

        &:active,
        &:focus {
            color: darken($brand-color, 5%)
        }
    }
}

.heading-title {
    h2 {
        text-transform: uppercase;
        text-align: center;
        color: #12304a;
        font-weight: 600;
        font-size: 35px;
        margin-bottom: 60px;
    }
}

.how-work {
    background: #f4f4f4;

    .how-work-holder {
        display: flex;
        justify-content: space-between;

        .step-how-work {
            min-width: 33.3%;
            text-align: center;
        }

        .step-img {
            max-width: 250px;
            margin: 0 auto 30px;
        }

        .text {
            font-size: 13px;
            color: #666666;
            text-align: center;
            line-height: 1.6;
            padding: 0 15px;

            strong {
                font-size: 16px;
                display: inline-block;
                margin-bottom: 10px;
                font-weight: 600;
                color: #12304a;
            }
        }
    }
}

.merchant {
    background: #f4f4f4;

    .merchant-holder {
        display: flex;
        justify-content: space-between;

        .become-merchant {
            width: 50%;

            .heading-title {
                h2 {
                    text-align: left;
                    margin-bottom: 30px;
                }

            }
        .join-merchant {
            padding: 15px 25px;
            font-size: 16px;
            color: #fff;
            background: $brand-color;
            border: 0;
            border-radius: 12px;
        }
        }
        .merchant-merits {
            width: 50%;

            .merit-list {
                @extend %listreset;

                li {
                    display: flex;
                    align-items: center;
                    margin-bottom: 13px;
                    color: #666666;
                    font-size: 16px;
                    position: relative;

                    i {
                        margin-right: 8px;
                        color: #5da76c;
                    }

                }
            }
        }
    }
}

.bg-blue {
    background: #0bcfd0;
}

.c-white {
    color: #fff !important;
}

.bg-brand {
    background: #fc5c42;
}
